# In all environments, the following files are loaded if they exist,
# the later taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=KjyBB6EB_Fh!xSHxrb7hS_M3^@j&?efp
DEFAULT_LOCALE=en
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
TRUSTED_HOSTS='^(erp\.loc|192\.168\.1\.226)$'
###< symfony/framework-bundle ###

ROOT_EMAIL=test@test.test
ROOT_PASSWORD=password

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"

# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=postgres://default:secret@postgres:5432/default
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=doctrine://default
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
###< symfony/messenger ###

REDIS_HOST=redis
REDIS_PASSWORD=secret
REDIS_TTL=86400

STORAGE_BASE_URL=https://erp.loc
HOST_NAME=erp.loc
HOST_SCHEME=https

###> enqueue/enqueue-bundle ###
ENQUEUE_DSN=beanstalk://beanstalkd:11300/default
###< enqueue/enqueue-bundle ###

SLACK_TOKEN=

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
#MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###
MAILER_FROM_NAME=Erp
MAILER_FROM_EMAIL=rocque.demo@gmail.com
MAILER_LOGIN=rocquetest@gmail.com
MAILER_PASSWORD=9zKjtg3vF7UZMx5tdXds74RS455d76LD

ADMIN_EMAILS=rocquetest@gmail.com

###< twilio/sms ###
###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|erp\.loc|127\.0\.0\.1|192\.168\.1\.226)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

#TEST
EASY_POST_KEY=7sKaKArM8V8fhoaaSdh7rg

#TEST
STRIPE_KEY=sk_test_51Hz7D6KUrStSikXwpqkia1q0aduSgjI0tLBQOZqqMDTGb7E4ZGSWuteK237yXeAn5jvhH9dUcjuRT4nWBD1xoGjK00A3q2EhkH
STRIPE_WEBHOOK_SECRET=whsec_i6GXqbJSrskLe2Lfekhx8ozxTNIbL1Zu

#TEST
PAYPAL_ID=AdvEFgBDwBMlB4vhOj0uf7YmLFd844Nt24VNR_3Yc7K0btlN3RujPefTUUvZPlNMeGAfIXzDwVcFCHaX
PAYPAL_SECRET=EMZw_9MjSfvvj8FbDMuSvSypBfLC3ctL2Qa-UWjguKaRxKqx-5opdOSmZLWHjBax7FTgUgA4BDnXwCfw

#TEST
PLAID_CLIENT_ID=60916932cf73bc0010b3716b
PLAID_CLIENT_SECRET=6644c3860cb13a0850da6d5bb52062
PLAID_ENVIRONMENT=sandbox

#TEST
OAUTH_FACEBOOK_ID=364378795330093
OAUTH_FACEBOOK_SECRET=045053a7f8e622741cdac97fe0e847a8
OAUTH_FACEBOOK_TYPE=1

#TEST
OAUTH_GOOGLE_CLIENT_ID=533061919690-kt0e94uek6kr8ulfhq6u1qbsiutlkedr.apps.googleusercontent.com
OAUTH_GOOGLE_CLIENT_SECRET=JjhnCx2l2nco01Ek2FCzmlAE
OAUTH_GOOGLE_TYPE=2

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=1618a97a5c3c0fa67e947956ef843a8d
JWT_TTL=31536000
###< lexik/jwt-authentication-bundle ###
