.header {
    z-index: 1000;
    background-color: var(--background-color);
    border-bottom: 0.1rem solid var(--border-color);
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;

    @include --xs {
        box-shadow: 0 1.5rem 3rem -0.8rem rgba(0, 0, 0, 0.1);
    }
    @include --xsh {
        box-shadow: 0 1.5rem 3rem -0.8rem rgba(0, 0, 0, 0.1);
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__user {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &-data {
            display: flex;
            flex-direction: column;
            margin-right: 1.5rem;
            text-align: right;

            @include --sm {
                display: none;
            }
        }

        &-logo {
            cursor: pointer;
            padding-right: 1.5rem;
            background-color: transparent;
            display: flex;

            & > svg,
            & > img {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;

                @include --xs {
                    width: 4rem;
                    height: 4rem;
                }

                @include --xsh {
                    width: 4rem;
                    height: 4rem;
                }
            }

            @include --xs {
                padding-right: 0;
                padding-left: 0.5rem;
            }
        }

        &-text {
            font-weight: 500;
            line-height: 1.8rem;
            text-align: right;
            color: var(--black);
            margin-bottom: 0.2rem;

            &:empty {
                display: none;
            }
        }

        &.is-open > .icon-svg {
            transform: rotate(180deg);
        }

        &-subject {
            color: var(--black);
            font-size: 1.4rem;
            font-weight: 300;
        }

        & > svg {
            cursor: pointer;
            transition: all 0.3s;
            height: 1.5rem;
            width: 1.5rem;
            fill: var(--icon-gray);

            @include --xs {
                order: -1;
                height: 0.8rem;
                width: 0.8rem;
            }
        }
    }

    &__dropdown {
        position: absolute;
        top: calc(100% + 1.7rem);
        right: 0;
        min-width: 22rem;
        background-color: var(--white);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-name: slideIn;
        display: block;
        z-index: 10001;

        @include --xs {
            min-width: 18rem;
        }

        @include --xsh {
            min-width: 18rem;
        }

        &-item_balance {
            display: none;
            border-top: 1px solid var(--border-purple-heart);
            @include --xs {
                display: block;
            }

            @include --xsh {
                display: block;
            }
        }

        &-link {
            font-weight: bold;
            color: var(--primary);
            display: block;
            white-space: nowrap;
            transition: 0.15s;
            line-height: 1.8rem;
            padding: 2rem 3rem;
            text-align: center;

            &:hover {
                color: var(--white);
                background-color: var(--primary);
            }

            @include --xs {
                font-size: 1.6rem;
                padding: 2rem 1rem;
            }

            @include --xsh {
                font-size: 1.6rem;
                padding: 2rem 1rem;
            }
        }
    }

    &__block {
        display: flex;
        align-items: center;
        padding: 1.7rem 3rem;
        width: 100%;
        justify-content: flex-end;
        box-shadow: 0 1.5rem 3rem -0.8rem rgba(var(--black-rgb), 0.1);
        z-index: 5;
        background-color: var(--white);

        &:last-child {
            margin-right: 0;
        }

        @include --lg {
            justify-content: space-between;
        }

        @include --xs {
            padding: 0.5rem 1.5rem;
        }

        @include --xsh {
            padding: 0.5rem 1.5rem;
        }
    }

    &__balance-row {
        padding: 1.35rem 3rem;
        display: flex;
        background-color: var(--header-balance-bg);
        box-shadow: 0 0.5rem 1.3rem 0 #b5b5b5;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-end;

        @include --xs {
            display: none;
        }

        @include --xsh {
            display: none;
        }
    }

    &__separator {
        width: 0.1rem;
        background-color: var(--border-color);
        margin: 0 2rem;
        align-self: normal;
    }
}

.collapse-sidebar {
    display: none;

    & > .custom-bg.active {
        background-color: rgba(var(--custom-bg), 0.5);
    }

    & svg {
        width: 2rem;
        height: 2.9rem;
        transform: rotate(180deg);

        @include --xs {
            width: 1rem;
            height: 1.9rem;
        }
    }

    @include --lg {
        display: flex;
    }
}

.lang {
    position: relative;

    &__list {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--deep-color);
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
        padding: 0.3rem 0;
        border-radius: 0.5rem;
        width: 10rem;
        z-index: 99999;
    }
    &__item {
        transition: all 0.3s;
        background-color: transparent;

        &:hover {
            background-color: hsla(0, 0, 100%, 0.1);
        }
    }
    &__link {
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: center;
    }
    &__text {
        text-transform: uppercase;
        color: var(--white);
        margin-right: 1rem;
        font-weight: bold;
    }
    &__img {
        border-radius: 0.3rem;
        vertical-align: middle;
        filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.25));
        width: 2rem;
        height: 2rem;
    }
}

.custom-bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: 0s;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

//.switcher {
//    & * {
//        box-sizing: border-box;
//    }
//
//    &__btn {
//        position: relative;
//        align-items: center;
//        justify-content: center;
//        overflow: hidden;
//        transition: background 0.3s ease-in-out;
//        box-sizing: border-box;
//        background-color: var(--switcher-bg);
//        font-size: 0.75rem;
//        width: 3rem;
//        height: 3rem;
//
//        &.checked {
//            & .switcher {
//                &__body {
//                    transform: scale(2);
//                }
//
//                &__shadow > span {
//                    transition: background 0.3s ease-in-out;
//                    transform: translate(0, 100%);
//                    background-color: var(--switcher-bg);
//                }
//
//                &__line > span {
//                    transform: translate(0, -100%);
//                    opacity: 0;
//                }
//            }
//        }
//    }
//
//    &__body {
//        position: relative;
//        width: 1.2em;
//        height: 1.2em;
//        border-radius: 50%;
//        background-color: var(--switcher-varied);
//        transition: transform 0.3s ease-in-out;
//    }
//
//    &__shadow {
//        box-sizing: content-box;
//        position: absolute;
//        width: 2em;
//        height: 2em;
//        padding-bottom: 150%;
//        transform: rotate(50deg);
//
//        & > span {
//            display: block;
//            width: 100%;
//            height: 100%;
//            border-radius: 50%;
//            background-color: transparent;
//            transition: transform 0.3s ease-in-out;
//        }
//    }
//
//    &__line {
//        position: absolute;
//        width: 0.4em;
//        height: 3.2em;
//        padding-bottom: 2.4em;
//
//        & > span {
//            display: block;
//            width: 100%;
//            height: 100%;
//            border-radius: 40%;
//            background-color: var(--switcher-color);
//            transition: 0.3s ease-in-out;
//            transition-property: transform, opacity;
//        }
//
//        &--2 {
//            transform: rotate(60deg);
//        }
//
//        &--3 {
//            transform: rotate(120deg);
//        }
//
//        &--4 {
//            transform: rotate(180deg);
//        }
//
//        &--5 {
//            transform: rotate(240deg);
//        }
//
//        &--6 {
//            transform: rotate(300deg);
//        }
//    }
//}

.balance {
    display: flex;
    align-items: center;
    align-self: flex-end;

    @include --xs {
        flex-direction: column-reverse;
        & .button_simple {
            padding: 2rem 0;
        }
    }

    @include --xsh {
        flex-direction: column-reverse;
        & .button_simple {
            padding: 2rem 0;
        }
    }

    &__total {
        font-size: 1.8rem;
        font-weight: normal;
        line-height: normal;
        color: var(--black);
        margin-right: 7rem;

        @include --xs {
            margin-right: 0;
            margin-bottom: 2rem;
            text-align: center;
        }

        @include --xsh {
            margin-right: 0;
            margin-bottom: 2rem;
            text-align: center;
        }
    }
}
