$font-path: "../../fonts/";

@font-face {
    font-family: "Montserrat";
    src: url("#{$font-path}Montserrat/Montserrat-Light.woff2") format("woff2"),
        url("#{$font-path}Montserrat/Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("#{$font-path}Montserrat/Montserrat-Bold.woff2") format("woff2"),
        url("#{$font-path}Montserrat/Montserrat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("#{$font-path}Montserrat/Montserrat-Regular.woff2") format("woff2"),
        url("#{$font-path}Montserrat/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("#{$font-path}Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
    url("#{$font-path}Montserrat/Montserrat-SemiBold.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

$font: "Montserrat", sans-serif;
